<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo list Vue</title>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="js/script.js"></script>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <div id="root">

        <!-- title -->
        <div class="container py-4">
            <div class="row d-flex justify-content-center">
                <div class="col-6 text-center">
                    <h1>Todolist</h1>
                </div>
            </div>
        </div>

        <!-- add todo element container -->
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-6">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Todo" v-model="newTask"
                            v-on:keyup.enter="onClickAdd()">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" @click="onClickAdd()">Add
                                Task</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- tasks todo elements -->
            <div class="row d-flex justify-content-center">
                <div class="col-6">
                    <div v-if="tasksList.length === 0">
                        <p class="empty_text_message">la lista di cose da fare è vuota, aggiungi qualcosa...</p>
                    </div>
                    <div v-else>
                        <ul class="list-group">
                            <li class="list-group-item p-3 d-flex justify-content-between align-items-center"
                                v-for="singleTask, i in tasksList">

                                <input type="checkbox" @change="onClickCheckBox(i)" id="check_box">
                                <p :class="singleTask.checkBox === true ? 'line_through' : ''">{{ singleTask.text }}</p> 

                                <button class="px-2" @click="onClickRemove(i)">
                                    <i class="fas fa-times"></i>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>

</html>